KanDoDbContextFactory.cs 
Kan-Do/obj/Debug/net6.0-windows/Views/RegisterView.g.i.cs
Kan-Do/obj/Debug/net6.0-windows/Views/LoginPageView.g.i.cs
Kan-Do/obj/Debug/net6.0-windows/Views/KanbanBoardView.g.i.cs
Kan-Do/obj/Debug/net6.0-windows/Views/HomeView.g.i.cs
Kan-Do/obj/Debug/net6.0-windows/Views/CardDetailWindow.g.i.cs
Kan-Do/obj/Debug/net6.0-windows/refint/Kan-Do.WPF.dll
Kan-Do/obj/Debug/net6.0-windows/ref/Kan-Do.WPF.dll
Kan-Do/obj/Debug/net6.0-windows/MainWindow.g.i.cs
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_ywusmwnq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_ywusmwnq_wpftmp.assets.cache
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_ywusmwnq_wpftmp.AssemblyInfoInputs.cache
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_ywusmwnq_wpftmp.AssemblyInfo.cs
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_yqdulc5q_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_yqdulc5q_wpftmp.csproj.BuildWithSkipAnalyzers
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_yqdulc5q_wpftmp.assets.cache
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_yqdulc5q_wpftmp.AssemblyInfoInputs.cache
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_yqdulc5q_wpftmp.AssemblyInfo.cs
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_MarkupCompile.lref
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_hk1gqump_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_hk1gqump_wpftmp.assets.cache
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_hk1gqump_wpftmp.AssemblyInfoInputs.cache
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_hk1gqump_wpftmp.AssemblyInfo.cs
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_eguskb0e_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_eguskb0e_wpftmp.csproj.BuildWithSkipAnalyzers
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_eguskb0e_wpftmp.assets.cache
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_eguskb0e_wpftmp.AssemblyInfoInputs.cache
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF_eguskb0e_wpftmp.AssemblyInfo.cs
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF.pdb
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF.dll
Kan-Do/obj/Debug/net6.0-windows/Kan-Do.WPF.csproj.AssemblyReference.cache
Kan-Do/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.cs
Kan-Do/obj/Debug/net6.0-windows/App.g.i.cs
Kan-Do/bin/Debug/net6.0-windows/Kan-Do.WPF.pdb
Kan-Do/bin/Debug/net6.0-windows/Kan-Do.WPF.dll
Kan-Do/bin/Debug/net6.0-windows/Kan-Do.EntityFramework.pdb
Kan-Do/bin/Debug/net6.0-windows/Kan-Do.EntityFramework.dll
Kan-Do/bin/Debug/net6.0-windows/Kan-Do.Domain.pdb
Kan-Do/bin/Debug/net6.0-windows/Kan-Do.Domain.dll
Kan-Do/.vs/Kan-Do/v17/.suo
Kan-Do/.vs/Kan-Do/v17/.futdcache.v1
Kan-Do/.vs/Kan-Do/DesignTimeBuild/.dtbcache.v2
Kan-Do.EntityFramework/obj/Debug/net6.0-windows/refint/Kan-Do.EntityFramework.dll
Kan-Do.EntityFramework/obj/Debug/net6.0-windows/ref/Kan-Do.EntityFramework.dll
Kan-Do.EntityFramework/obj/Debug/net6.0-windows/Kan-Do.EntityFramework.pdb
Kan-Do.EntityFramework/obj/Debug/net6.0-windows/Kan-Do.EntityFramework.dll
Kan-Do.EntityFramework/obj/Debug/net6.0-windows/Kan-Do.EntityFramework.csproj.CoreCompileInputs.cache
Kan-Do.EntityFramework/obj/Debug/net6.0-windows/Kan-Do.EntityFramework.csproj.AssemblyReference.cache
Kan-Do.EntityFramework/Migrations/KanDoDbContextModelSnapshot.cs
Kan-Do.EntityFramework/Migrations/20220424030904_allow-nullable-attributes.Designer.cs
Kan-Do.EntityFramework/Migrations/20220424030904_allow-nullable-attributes.cs
Kan-Do.EntityFramework/bin/Debug/net6.0-windows/Kan-Do.EntityFramework.pdb
Kan-Do.EntityFramework/bin/Debug/net6.0-windows/Kan-Do.EntityFramework.dll
Kan-Do.EntityFramework/bin/Debug/net6.0-windows/Kan-Do.Domain.pdb
Kan-Do.EntityFramework/bin/Debug/net6.0-windows/Kan-Do.Domain.dll
Kan-Do.Domain/obj/Debug/net6.0-windows/refint/Kan-Do.Domain.dll
Kan-Do.Domain/obj/Debug/net6.0-windows/ref/Kan-Do.Domain.dll
Kan-Do.Domain/obj/Debug/net6.0-windows/Kan-Do.Domain.pdb
Kan-Do.Domain/obj/Debug/net6.0-windows/Kan-Do.Domain.dll
Kan-Do.Domain/Models/Card.cs
Kan-Do.Domain/bin/Debug/net6.0-windows/Kan-Do.Domain.pdb
Kan-Do.Domain/bin/Debug/net6.0-windows/Kan-Do.Domain.dll
